cffi==1.9.1
colorama==0.3.7
cryptography==1.6
ecdsa==0.13
future==0.16.0
idna==2.1
nose==1.3.7
paramiko==2.0.2
pefile==2016.3.28
plumbum==1.6.2
pyasn1==0.1.9
pycparser==2.17
rpyc==3.3.0
scp==0.10.2
six==1.10.0
pexpect